{%extends 'dashboard/base.html'%}
{% load static  %}
{% block head%}
  <link href="{%static 'css/companies.css' %}" rel="stylesheet">
{% endblock %}
{%block title%}
  <title>TnP Website</title>
{%endblock%}
  

{% block content%}
    <div class="projects-section">
      <div class="projects-section-header">
        <p>Companies</p>
        <p class="time">{% now "jS F Y" %}</p>
      </div>
      <div class="projects-section-line">
        <div class="projects-status">
          <div class="item-status">
            <span class="status-number">5</span>
            <span class="status-type">Applied</span>
          </div>
          <div class="item-status">
            <span class="status-number">4</span>
            <span class="status-type">Upcoming</span>
          </div>
          <div class="item-status">
            <span class="status-number">9</span>
            <span class="status-type">Total Companies</span>
          </div>
        </div>
        <div class="view-actions">
          <button class="view-btn list-view" title="List View">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
                <line x1="8" y1="6" x2="21" y2="6" />
                <line x1="8" y1="12" x2="21" y2="12" />
                <line x1="8" y1="18" x2="21" y2="18" />
                <line x1="3" y1="6" x2="3.01" y2="6" />
                <line x1="3" y1="12" x2="3.01" y2="12" />
                <line x1="3" y1="18" x2="3.01" y2="18" />
              </svg>
          </button>
          <button class="view-btn grid-view active" title="Grid View">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
                <rect x="3" y="3" width="7" height="7" />
                <rect x="14" y="3" width="7" height="7" />
                <rect x="14" y="14" width="7" height="7" />
                <rect x="3" y="14" width="7" height="7" />
              </svg>
          </button>
        </div>
      </div>
      <div class="project-boxes jsGridView">
        {%for x in application%}
        <div class="project-box-wrapper">
          <div class="project-box" style="background-color: #fee4cb;">
            <div class="project-box-header">
              <span>{{ x.updated | date:"jS F Y" }}</span>
              <div class="more-wrapper">
                {%if x.application_id.is_spp%}  SPP  {%endif%}
                {%if x.application_id.is_sip%}  SIP  {%endif%}
                <!-- <button class="project-btn-more">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                    <circle cx="12" cy="12" r="1" />
                    <circle cx="12" cy="5" r="1" />
                    <circle cx="12" cy="19" r="1" />
                  </svg>
                </button> -->
              </div>
            </div>
            <div class="project-box-content-header">
              <p class="box-content-header">{{x.application_id.company_id.name}}</p>
              <p class="box-content-subheader">{{x.application_id.position}}</p>
              <p class="box-content-subheader">
                <centre>
                  {%if x.application_id.is_fte%}  Full Time  {%endif%} {%if x.application_id.is_ppo%}  PPO  {%endif%} {%if x.application_id.is_intern%}  Intern  {%endif%}
                </centre>
              </p>
            </div>
            <!-- <div class="box-progress-wrapper"> -->
              
                <!-- <div class="box-progress-bar">
                <span class="box-progress" style="width: 60%; background-color: #ff942e"></span>
              </div>
              <p class="box-progress-percentage">60%</p> -->
            <!-- </div> -->
            <div class="project-box-footer">
              <div class="participants">
                {{x.application_id.company_id.college_ctc}} LPA
              </div>
              <div class="days-left" style="color: #ff942e;">
                {{x.is_selected}}
              </div>
            </div>
          </div> 
        </div>
        {%endfor%}
      </div>
    </div>
    <div class="messages-section">
      <button class="messages-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
          <circle cx="12" cy="12" r="10" />
          <line x1="15" y1="9" x2="9" y2="15" />
          <line x1="9" y1="9" x2="15" y2="15" />
        </svg>
      </button>
      <div class="projects-section-header">
        <p>Announcements</p>
      </div>
      <div class="messages">
        {%for x in announcement%}
        <div class="message-box">
          <img src={{x.user.userdetails.photo.url}} alt="profile image">
          <div class="message-content">
            <div class="message-header">
              <div class="name">{{x.user.first_name}} {{x.user.last_name}}</div>
            </div>
            <p class="message-line">
              {{x.announcement}}
            </p>
            <p class="message-line time">
              {{x.created_at}}
            </p>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>

{%endblock%}