{% extends 'base1.html' %}
{% load static %}
{% block title %} hr_list {% endblock title %}
{% block content %} 
    <div id="scroll-bg">
            <div id="scroll-div">
            <div id="scroll-object">
            <div id="div1">
                <h4> Amazon </h4>
                <h4> Devvrat </h4>
                <h4> dev@gmail.com</h4>
                <button class="assing-btn"> Assign-Me </button>
            </div>
            <div id="div2">
                <h4> Amazon </h4>
                <h4> Devvrat </h4>
                <h4> dev@gmail.com</h4>
                <button class="assing-btn"> Assign-Me </button>
            </div>
            <div id="div3">
                <p> Amazon </p><br>
                <h4> Devvrat </h4>
                <h4> dev@gmail.com</h4>
                <button class="assing-btn"> Assign-Me </button>
            </div>
             <div id="div3">
                <h4> Amazon </h4>
                <h4> Devvrat </h4>
                <h4> dev@gmail.com</h4>
                <button class="assing-btn"> Assign-Me </button>
            </div>
             <div id="div3">
                <h4> Amazon </h4>
                <h4> Devvrat </h4>
                <h4> dev@gmail.com</h4>
                <button class="assing-btn"> Assign-Me </button>
            </div>
            </div>
            </div>
        </div>
{% endblock content %} 