{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Full Visibility {% endblock %}
{% block head %}
    <link href="{%static 'css/full_visibility.css' %}" rel="stylesheet"> 
{% endblock%}
{% block content %}
    <div id="cont-full">
        <div id="container1">
            <div class="container">
                {% for cmp in comp_values%}
                    <div class="card-hr">
                        Company Name : {{cmp.name}}<br>
                        CTC : {{cmp.general_ctc}}<br>
                        College CTC : {{cmp.college_ctc}}<br>
                        Courses Allowed : {{cmp.allowed_courses.specialization}}<br>
                        History : {{cmp.history}}<br>
                        Time Of Visit : {{cmp.time_of_visit}}<br>
                        College Branch : {{cmp.college_branch}}<br>
                    </div>
                {% endfor %}
            </div>
            <div class="container">
                {% for hr in hr_list %}
                    <div class="card-hr">
                        HR Name : {{hr.name}}<br>
                        Gender : {{hr.gender}}<br>
                        Company Name : {{hr.company_id.name}}<br>
                        Email : {{hr.mail_id}}<br>
                        Linkedin ID : {{hr.linkedin}}<br>
                        Date of Contact : {{hr.date_of_contact}}<br>
                    </div>
                {% endfor %}
            </div> 
        </div>
        <div id="container2">
            <div id="call-his-container">
                <table border="1" cellspacing="1">
                    <th>Response</th><br>
                {% for cl in call_history %}
                    <tr id="{{cl.colour}}">
                        <td>{{cl.comment}}</td><br>
                    </tr>
                {% endfor %}
                </table>
            </div>
            <div id="call-his-form">
                <form action="" method="post">{% csrf_token %}
                    <label for="comment">Feedback</label><br>
                    <textarea name="text-box" type="text" id="text-bk" required></textarea><br>
                    <label for="color"> Response-color </label>
                    <select id="is_company" name="is_company" class="field-select">
                        <option value="Green">Green</option>
                        <option value="Red">Red</option>
                        <option value="Bed">Blue</option>
                    </select><br>
                    <button type="submit" class="btn btn-"> Submit <submit>
                </form>
            </div>
        </div>
  </div>
{% endblock content %} 