{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} hr_list {% endblock title %}
{%block head%}
<link href="{%static 'css/my_hr_list.css' %}" rel="stylesheet"> 
{%endblock%}  
{% block content %} 
   <div id="tnp-view-cont">
        <div id="tnp-cont1">
            <div id="scroll-bg">
                <div id="scroll-div">
                    <div id="scroll-object">
                        {% for hr in hr_list %}
                        <a href="{% url 'full_detail_visibility' cnt=hr.id %}">
                            <div class="card-hr">
                                HR Name : {{hr.name}}<br>
                                Gender : {{hr.gender}}<br>
                                Company ID : {{hr.company_id.name}}<br>
                                Email : {{hr.mail_id}}<br>
                                Linkedin ID : {{hr.linkedin}}<br>
                                College Branch : {{hr.college_branch}}<br>
                                Date of Contact : {{hr.date_of_contact}}<br>
                            </div>
                            <br>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}