{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration Form</title>
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
    <script src="{% static 'js/user_profile.js' %}"></script>
</head>

<body>
    <div class="container">
        <div class="profile">
            <div class="profile-pic">
                <input type="file" id="profile-pic-upload" accept="image/*">
                <label for="profile-pic-upload">
                    <img src="{% static 'images/user_pic.png' %}" alt="image">
                </label>
            </div>
            <div class="user-name">Sayantan Bairagi</div>
        </div>
        <br>
        <br>
        <form action ="save_user_data" method = "post" id="registration-form">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-field">
                    <label for="10th-percentage">10th Marks Percentage:</label>
                    <input type="number" id="10th-percentage" name="10thPercentage" min="0" max="100" step="0.1"
                        required>
                </div>
                <div class="form-field">
                    <label for="10th-marksheet">10th Marksheet:</label>
                    <input type="file" id="10th-marksheet" name="10thMarksheet" accept=".pdf" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label for="12th-percentage">12th Marks Percentage:</label>
                    <input type="number" id="12th-percentage" name="12thPercentage" min="0" max="100" step="0.1"
                        required>
                </div>
                <div class="form-field">
                    <label for="12th-marksheet">12th Marksheet:</label>
                    <input type="file" id="12th-marksheet" name="12thMarksheet" accept=".pdf" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label for="graduation-cgpa">Graduation CGPA:</label>
                    <input type="number" id="graduation-cgpa" name="graduationCGPA" min="0" max="10" step="0.01"
                        required>
                </div>
                <div class="form-field">
                    <label for="graduation-marksheet">Graduation Marksheet:</label>
                    <input type="file" id="graduation-marksheet" name="graduationMarksheet" accept=".pdf" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label for="registration-number">Registration Number:</label>
                    <input type="text" id="registration-number" name="registrationNumber" required>
                </div>
                <div class="form-field">
                    <label for="current-cgpa">Current CGPA:</label>
                    <input type="number" id="current-cgpa" name="currentCGPA" min="0" max="10" step="0.01" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label for="resume">Resume:</label>
                    <input type="file" id="resume" name="resume" accept=".pdf" required>
                </div>
                <div class="form-field">
                    <label for="backlogs">No of Backlogs:</label>
                    <input type="number" id="backlogs" name="backlogs" min="0" max="40" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label for="portfolio">Portfolio:</label>
                    <input type="url" id="portfolio" name="portfolio" required>
                </div>
                <div class="form-field">
                    <label for="linkedin">Linkedin:</label>
                    <input type="url" id="linkedin" name="linkedin" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label for="github">Github:</label>
                    <input type="url" id="github" name="github" required>
                </div>
                <div class="form-field">
                    <label for="codeforces">Codeforces:</label>
                    <input type="url" id="codeforces" name="codeforces">
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label for="codechef">CodeChef:</label>
                    <input type="url" id="codechef" name="codechef">
                </div>
                <div class="form-field">
                    <label for="leetcode">Leetcode:</label>
                    <input type="url" id="leetcode" name="leetcode">
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label for="leetcode">Website:</label>
                    <input type="url" id="website" name="website">
                </div>
            </div>
            <!-- Add more form rows as needed -->
            <div class="form-field">
                <!-- Placeholder for shifting the submit button -->
                <div class="form-field submit-btn">
                    <button type="submit">Submit</button>
                </div>
            </div>

        </form>
    </div>

</body>

</html>