.env
*.pyc
*.pyo
landing_page/__pycache__
userDetails/__pycache__
dashboard/__pycache__
dashboard/migrations/__pycache__
landing_page/migrations/__pycache__
userDetails/migrations/__pycache__
tnp_website/__pycache__
