*.env
**/__pycache__
/landing_page/__pycache__/*.pyc
/userDetails/__pycache__/*.pyc
/dashboard/__pycache__/.pyc
/dashboard/migrations/__pycache__/.pyc
/landing_page/migrations/__pycache__/*.pyc
/userDetails/migrations/__pycache__/*.pyc
/tnp_website/__pycache__/*.pyc
*.pyc
/backend/.venv
/frontend/node_modules
.vercel
/tnp_website/.venv
