.add-announcement-btn {
  background-color: var(--button-bg);
  color: #ffffff; /* Darker color for better visibility */
  border: 1px solid #333; /* Border added for visibility */
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 50%; /* Circular button */
  font-size: 18px; /* Increase font size for "+" symbol */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Adjust width and height to make a circle */
  height: 40px;
}

.add-announcement-btn:hover {
  background-color: var(--link-color-hover);
  color: #fff; /* White color on hover */
  border-color: var(
    --link-color-hover
  ); /* Match border color with hover background */
}

.projects-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.announcement-form {
  margin-top: 16px;
  display: flex;
  gap: 8px;
  
}

.announcement-form input {
  flex: auto;
  padding: 8px;
  border: 1px solid var(--message-box-border);
  border-radius: 4px;
}

.announcement-form button {
  padding: 8px 16px;
  background-color: var(--button-bg);
  color: var(--message-btn);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.announcement-form button:hover {
  background-color: var(--link-color-hover);
}

.announcement-popup {
  position: absolute;
  top: 130%;
  right: 75%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0px;
  z-index: 1000;
  max-height: 80vh; /* Limit the height to 80% of the viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;
  display: flex; /* Add flexbox display */
  flex-direction: column; /* Ensure items stack vertically */
  align-items: flex-start; /* Align items to the left */
}

.app-header-right {
  position: relative;
}

/* Optionally, you can style the scrollbar */
.announcement-popup::-webkit-scrollbar {
  width: 8px;
}

.announcement-popup::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.announcement-popup::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.announcement-popup::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-height: 600px) {
  .announcement-popup {
    top: auto;
    bottom: 100%;
    max-height: 50vh;
  }
}
