.container-fluid{
    background-color: #f5f7fd

}
.header{
 
}
nav .links{
 
    border-radius: 8%;;
}
main{
   
    border-radius: 5%
}
#active{
 background-color:black;
 display:block;
 color:white;
 height:100%;
}

.announcement{
   
    border-radius: 5%;
}
.lnav :hover{
   width:100%;
  
  background-color: rgb(148, 130, 130);
  color:white;
}
Main{
    background-color: white;
}
.announcement{
    background-color:white;
}
a{
    display: block;
}