{% extends 'base.html' %}
{% load static %}
{% block title %}Company_Contact{% endblock title %}
{% comment %} {% load static %} {% endcomment %}
{% block content %}
    <div id="dialog">
    </div>
    <div id="company-container">
        <div id="inner">
        <h1> Company Contacts </h1> <br>
        <form id="comp-form" method="post">{% csrf_token %}
            <div class="from-group">
                <label for="company-name" >Company Name </label>
                <input type="text" name="company-name" id="company-name" required>
            </div>
            <div class="from-group">
                <label for="company-email">Company Email</label>
                <input type="email" name="company-email" id="company-email">
            </div>
            <div id="together">
                <div class="from-group">
                    <label for="company-name">Contact Number</label>
                    <input type="number" name="company-number" id="company-number">
                </div>
                <div class="from-group">
                    <label for="ctc">CTC</label>
                    <input type="number" name="ctc" id="ctc" >
                </div>
            </div>
            <div class="from-group">
                    <label for="type"> Type </label>
                    <div id="radio">
                    <input type="checkbox" name="intern1" value="intern"> Intern
                    <input type="checkbox" name="intern1" value="summer_intern"> SummerIntern
                    <input type="checkbox" name="intern1" value="fte"> FTE
                    </div>
            </div>
            <div class="from-group">
                <label for="company-name">College Visited</label>
                <input type="text" name="clg-vis" id="college-visited" required>
            </div>
            <div class="from-group">
                <label for="is_company">If Company is for FTE </label>
                <select id="is_company" name="is_company" class="field-select">
                        <option value="drop_ppo">Offering PPO</option>
                        <option value="drop_fte">FTE</option>
                </select>
            </div>
            <div class="from-group">
                <label for="company-name">Location</label>
                <input type="text" name="location-id" id="location-id" required>
            </div><br>
            <button type="button" id="submit-btn" onclick="complete()">Submit</button>
        </form> 
        </div>
    </div>
    <script>
    function showconfirm(msg,call){
    var con_box = document.getElementById("dialog");

    var msg_box = document.createElement("div");
    msg_box.classList.add('message-box');
    msg_box.textContent=msg;
    con_box.appendChild(msg_box);

    var btn_box = document.createElement("div");
    btn_box.classList.add('button-box');
    msg_box.appendChild(btn_box);

    var yes_btn = document.createElement("button");
    yes_btn.classList.add('yes-btn');
    yes_btn.textContent="Yes";
    btn_box.appendChild(yes_btn);
    yes_btn.addEventListener('click',yesbuttonclicked);

    var no_btn = document.createElement("button");
    no_btn.classList.add('no-btn');
    no_btn.textContent="No";
    btn_box.appendChild(no_btn);
    no_btn.addEventListener('click',nobuttonclicked);

    function yesbuttonclicked(){
        call(true)
    }

    function nobuttonclicked(){
        call(false)
    }
    document.body.appendChild(con_box);
}

function complete(){
    // var submit_btn = document.querySelector("#submit-btn");
    // submit_btn.addEventListener("onclick",()=>{ 
    var alpha = document.querySelector("#company-container");
    var form = document.querySelector("#comp-form");
    var dio = document.querySelector("#dialog");
    alpha.style.visibility = "hidden";
    dio.style.display = "block";
    // alpha.style.backgroundColor = "red";
    // dio.style.backgroundColor ="pink";
    console.log("peruhuygb");
    showconfirm("Do You have it's HR contact?",function(result){
        if(result){
            form.action = "/in/";
            form.submit();
            console.log("yes");
        }
        else{
            form.action = "/company_contacts/";
            form.submit();
            console.log("no");
        }
    });
}
</script>
{% endblock content %} 