
{% extends 'base.html' %}
{% load static %}
{% block title %}HR_Contact{% endblock title %}
{% load static %}
{% block content %}
    <div id="company-container1">
        <div id="inner1">
        <h1> HR Contact </h1> <br>
        <form action="/hr_contacts/" id="hr_form" method="post">{% csrf_token %}
            <div class="from-group">
                <label for="company-name">Company Name</label>
                <input type="text" name="company-name" id="company-name" required>
            </div>
             <div class="from-group">
                <label for="company-name">Name</label>
                <input type="text" name="name" id="college-visited" required>
            </div>
            <div class="from-group">
                <label for="company-email">Email</label>
                <input type="email" name="company-email" id="company-email" required>
            </div>
             <div class="from-group">
                <label for="company-name">LinkedIn ID</label>
                <input type="text" name="linkedin" id="linkedin" required>
            </div>
            <div class="from-group">
                <label for="company-name">Contact Number</label>
                <input type="number" name="number" id="company-number" required>
            </div><br>
            <button  type="submit" class="btn btn-primary">Submit</button>
        </form> 
        </div>
        <h3>{{msg}}</h3>
    </div>
{% endblock content %}