body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff; /* Light blue background */
  color: black;
}

.container {
  max-width: 1050px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff; /* White container background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.profile-pic input[type="file"] {
  display: none;
}

.profile-pic label {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  cursor: pointer;
}

.user-name {
  font-size: 24px;
}

.form-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between; /* Align items with space between */
}

.form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns layout */
  column-gap: 40px; /* Distance between columns */
  margin-bottom: 15px;
}

/* Form fields */
.form-field {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.form-field label {
  display: block;
  font-weight: bold;
  width: 200px; /* Fixed width for labels */
}

.form-field input[type="text"],
.form-field input[type="number"],
.form-field input[type="email"],
.form-field input[type="tel"],
.form-field input[type="url"],
.form-field input[type="file"] {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #dcdbdba1;
  width: 100%;
}

/* Submit button */
.submit-btn {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.submit-btn button[type="submit"] {
  padding: 15px 30px;
  font-size: medium;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.submit-btn button[type="submit"]:hover {
  background-color: #0056b3;
}
