/* Start Global Rules */
* {
  box-sizing: border-box;
}
body {
  background-color: #f3f6fd;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Header */
.header {
  min-height: 80px;
  background-color: #f3f6fd;
  display: flex;
  align-items: center;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: #5d5d5d;
  font-style: italic;
  font-size: 24px;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links li {
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
  transition: 0.3s;
}
.nav-links li:last-child .nav-button {
  border-radius: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #6c63ff;
  border: none;
  cursor: pointer;
}
.nav-links li:not(:last-child):hover {
  color: #6c63ff;
}
.nav-button {
  border-radius: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #6c63ff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.nav-button:hover {
  background-color: #5752d8;
}

/* Landing Page */
.landing-page .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px; /* Adjust gap between info and image if needed */
  min-height: calc(100vh - 80px);
}
.landing-page .content .info {
  max-width: 50%; /* Adjust width as necessary */
  flex: 1;
}
.landing-page .content .info h1 {
  color: #5d5d5d;
  font-size: 44px;
}
.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}
.landing-page .content .primary-button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #fff;
  background-color: #6c63ff;
}
.landing-page .content .image {
  max-width: 50%; /* Adjust width as necessary */
  flex: 1;
}
.landing-page .content .image img {
  max-width: 100%;
  display: block;
  margin: 0 auto; /* Center the image */
}

/* Login Page */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}
.login-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
.login-form h2 {
  color: #5d5d5d;
  margin-bottom: 20px;
  text-align: center;
}
.login-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.login-form button {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  background-color: #6c63ff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.login-form button:hover {
  background-color: #5752d8;
}
.register-link {
  text-align: center;
  color: #5d5d5d;
}
.register-link-button {
  cursor: pointer;
  text-decoration: underline;
  color: #5752d8;
}
