.hr-contact-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  text-align: left;
}

.hr-contact-table th,
.hr-contact-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.hr-contact-table th {
  background-color: var(--main-color);
  color: var(--link-color-active);
}

.hr-table-row:nth-child(even) {
  background-color: var(--message-box-hover);
}

.hr-table-row:nth-child(odd) {
  background-color: var(--projects-section);
}

.add-to-list-button {
  background-color: var(--button-bg);
  color: var(--message-btn);
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-list-button:hover {
  background-color: var(--link-color-hover);
}
