{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TnP Website</title>
    <link href="{%static 'css/companies.css' %}" rel="stylesheet"> 
    {%block head%}
    {%endblock%}
    <title>{%block title%}{%endblock%}</title>
    
</head>
<body>
  <div class="app-container">
    <div class="app-header">
      <div class="app-header-left">
        <span class="app-icon"></span>
        <p class="app-name">TNP Website</p>
        <div class="search-wrapper">
          <input class="search-input" type="text" placeholder="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-search" viewBox="0 0 24 24">
            <defs></defs>
            <circle cx="11" cy="11" r="8"></circle>
            <path d="M21 21l-4.35-4.35"></path>
          </svg>
        </div>
      </div>
      <div class="app-header-right">
        <button class="mode-switch" title="Switch Theme">
          <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
            <defs></defs>
            <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
          </svg>
        </button>
        <a href = "{% url 'userProfile' %}">
        <button class="profile-btn">
          <img src="{{request.user.userdetails.photo.url}}" />
          <span>{{request.user.username}}</span>
        </button>
      </a>
      </div>
      <button class="messages-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle">
          <path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z" /></svg>
      </button>
    </div>
    <div class="app-content">
      <div class="app-sidebar">
        
        <a href="{% url 'dashboard' %}" class="app-sidebar-link active">
          Companies
        </a>
        {% if request.user.userprofile.role != 4 or request.user.userprofile.role != 5  or request.user.userprofile.role != 6%}
        <a href="" class="app-sidebar-link">
          Applied Companies
        </a>
        {%endif%}
        {% if request.user.userprofile.role == 3 or request.user.userprofile.role == 4 or request.user.userprofile.role == 2 %}
        <a href="{% url 'hr_contacts' %}" class="app-sidebar-link">
          Share HR Contact
        </a>
        {%endif%}
        {% if request.user.userprofile.role == 3 or request.user.userprofile.role == 4 or request.user.userprofile.role == 2 %}
        <a href="{% url 'company_contacts' %}" class="app-sidebar-link">
          Share Company Contact
        </a>
        {%endif%}
        {% if request.user.userprofile.role == 3 or request.user.userprofile.role == 4 %}
        <a href="{% url 'hr_list' %}" class="app-sidebar-link">
          HR List
        </a>
        {%endif%}
        {% if request.user.userprofile.role == 3 %}
        <a href="{% url 'my_hr_list' %}" class="app-sidebar-link">
          My HR List
        </a>
        {%endif%}
        {%if request.user.is_authenticated%}
        <a href="{% url 'logout' %}" class="app-sidebar-link">
          Logout
        </a>
        {%endif%}
      </div>
      
        {%block content%}
        {%endblock%}  
     
      </div>  
    </div>
    
  </div>

  <script src="{%static 'javascript/companies.js' %}"></script>
</body>
</html>