{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Company_Contact{% endblock title %}
{% block content %}
    <div id="dialog">
    </div>
    <div id="company-container">
        <div id="inner">
        <h1> Company Contacts </h1> <br>
        <form action={% url 'common_company_form'%} id="comp-form" method="post">{% csrf_token %}
            <div class="from-group">
                <label for="company-name" >Company Name </label>
                <input type="text" name="company-name" id="company-name" required>
            </div>
            <div class="from-group">
                <label for="company-email">Company Email</label>
                <input type="email" name="company-email" id="company-email">
            </div>
            <div id="together">
                <div class="from-group">
                    <label for="company-name">Contact Number</label>
                    <input type="number" name="company-number" id="company-number">
                </div>
                <div class="from-group">
                    <label for="ctc">CTC</label>
                    <input type="number" name="ctc" id="ctc" >
                </div>
            </div>
            <div class="from-group">
                    <label for="type"> Type </label>
                    <div id="radio">
                    <input type="checkbox" name="intern1" value="intern"> Intern
                    <input type="checkbox" name="intern1" value="summer_intern"> SummerIntern
                    <input type="checkbox" name="intern1" value="fte"> FTE
                    </div>
            </div>
            <div class="from-group">
                <label for="company-name">College Visited</label>
                <input type="text" name="clg-vis" id="college-visited" required>
            </div>
            <div class="from-group">
                <label for="is_company">If Company is for FTE </label>
                <select id="is_company" name="is_company" class="field-select">
                        <option value="drop_ppo">Offering PPO</option>
                        <option value="drop_fte">FTE</option>
                </select>
            </div>
            <div class="from-group">
                <label for="company-name">Location</label>
                <input type="text" name="location-id" id="location-id" required>
            </div><br>
            <button type="submit" id="submit-btn">Submit</button>
        </form> 
        </div>
        <h3>{{msg}}</h3>
    </div>
{% endblock content %} 