{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TnP Website</title>
    <link href="{%static 'css/companies.css' %}" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
</head>
<body>
    <div class="container"> 
        <div class="card">
            <div class="el1">
                <img src="./assets/google-logo.png" class="company_logo">
                <div class="app_status status-applied">
                    Applied
                </div>
            </div>
            <div class="el2">
                Google
            </div>
            <div class="el3a">
                <img src="./assets/reshot-icon-map-marker-KS456ZT2P3.svg" class="svgicon">
                <p class="loctext">Hyderabad, Telengana</p>
            </div>
            <div class="el3b">
                <img src="./assets/reshot-icon-timer-ESGKH39LNC.svg" class="svgicon">
                <p class="typetext">Internship</p>
            </div>
            <div class="el4">
                <div class="el4a">
                    <img src="./assets/reshot-icon-dollar-cash-x-FD7X9S2KLU.svg" class="svgicon1">
                    <p class="primary_text"> ₹25L <span class="secondary_text">PA</span><span><br /></span>
                        <span class="secondary_text">CTC</span>
                    </p>
                </div>
                <div class="el4b">
                    <img src="./assets/reshot-icon-calendar-MPH3D7XWKJ.svg" class="svgicon1">
                    <p class="date_text"> -- <span><br /></span>
                        <span class="date_secondary_text">Round Date</span>
                    </p>
                </div>
            </div>
            <div class="el5">
                <p class="offer-type"> Super Dream Internship </p>
            </div>
        </div>
        <div class="card">
            <div class="el1">
                <img src="./assets/lg.png" class="company_logo">
                <div class="app_status status-notapplied">
                    Not-Applied
                </div>
            </div>
            <div class="el2">
                Facebook
            </div>
            <div class="el3a">
                <img src="./assets/reshot-icon-map-marker-KS456ZT2P3.svg" class="svgicon">
                <p class="loctext">Noida, Uttar Pradesh</p>
            </div>
            <div class="el3b">
                <img src="./assets/reshot-icon-timer-ESGKH39LNC.svg" class="svgicon">
                <p class="typetext">Full-time, Internship</p>
            </div>
            <div class="el4">
                <div class="el4a">
                    <img src="./assets/reshot-icon-dollar-cash-x-FD7X9S2KLU.svg" class="svgicon1">
                    <p class="primary_text"> ₹10L <span class="secondary_text">PA</span><span><br /></span>
                        <span class="secondary_text">CTC</span>
                    </p>
                </div>
                <div class="el4b">
                    <img src="./assets/reshot-icon-calendar-MPH3D7XWKJ.svg" class="svgicon1">
                    <p class="date_text"> 10/01/2000 <span><br /></span>
                        <span class="date_secondary_text">Round Date</span>
                    </p>
                </div>
            </div>
            <div class="el5">
                <p class="offer-type"> Super Dream Offer </p>
            </div>
        </div>
        <div class="card">
            <div class="el1">
                <img src="./assets/Apple-Logo.png" class="company_logo">
                <div class="app_status status-notapplied">
                    Not-Applied
                </div>
            </div>
            <div class="el2">
                Apple Inc.
            </div>
            <div class="el3a">
                <img src="./assets/reshot-icon-map-marker-KS456ZT2P3.svg" class="svgicon">
                <p class="loctext">Remote</p>
            </div>
            <div class="el3b">
                <img src="./assets/reshot-icon-timer-ESGKH39LNC.svg" class="svgicon">
                <p class="typetext">Full-time</p>
            </div>
            <div class="el4">
                <div class="el4a">
                    <img src="./assets/reshot-icon-dollar-cash-x-FD7X9S2KLU.svg" class="svgicon1">
                    <p class="primary_text"> ₹45L <span class="secondary_text">PA</span><span><br /></span>
                        <span class="secondary_text">CTC</span>
                    </p>
                </div>
                <div class="el4b">
                    <img src="./assets/reshot-icon-calendar-MPH3D7XWKJ.svg" class="svgicon1">
                    <p class="date_text"> -- <span><br /></span>
                        <span class="date_secondary_text">Round Date</span>
                    </p>
                </div>
            </div>
            <div class="el5">
                <p class="offer-type"> Super Dream Offer </p>
            </div>
        </div>
        <div class="card">
            <div class="el1">
                <img src="./assets/accenture-logo.png" class="company_logo">
                <div class="app_status status-applied">
                    Applied
                </div>
            </div>
            <div class="el2">
                Accenture
            </div>
            <div class="el3a">
                <img src="./assets/reshot-icon-map-marker-KS456ZT2P3.svg" class="svgicon">
                <p class="loctext">Kolkata, West Bengal</p>
            </div>
            <div class="el3b">
                <img src="./assets/reshot-icon-timer-ESGKH39LNC.svg" class="svgicon">
                <p class="typetext">Full Time</p>
            </div>
            <div class="el4">
                <div class="el4a">
                    <img src="./assets/reshot-icon-dollar-cash-x-FD7X9S2KLU.svg" class="svgicon1">
                    <p class="primary_text"> ₹4.5L <span class="secondary_text">PA</span><span><br /></span>
                        <span class="secondary_text">CTC</span>
                    </p>
                </div>
                <div class="el4b">
                    <img src="./assets/reshot-icon-calendar-MPH3D7XWKJ.svg" class="svgicon1">
                    <p class="date_text"> 17/01/2024 <span><br /></span>
                        <span class="date_secondary_text">Round Date</span>
                    </p>
                </div>
            </div>
            <div class="el5">
                <p class="offer-type"> Super Dream Offer </p>
            </div>
        </div>
        <div class="card">
            <div class="el1">
                <img src="./assets/genpact.png" class="company_logo">
                <div class="app_status status-notapplied">
                    Not-Applied
                </div>
            </div>
            <div class="el2">
                Genpact
            </div>
            <div class="el3a">
                <img src="./assets/reshot-icon-map-marker-KS456ZT2P3.svg" class="svgicon">
                <p class="loctext">Noida, Uttar Pradesh</p>
            </div>
            <div class="el3b">
                <img src="./assets/reshot-icon-timer-ESGKH39LNC.svg" class="svgicon">
                <p class="typetext">Full-time, Internship</p>
            </div>
            <div class="el4">
                <div class="el4a">
                    <img src="./assets/reshot-icon-dollar-cash-x-FD7X9S2KLU.svg" class="svgicon1">
                    <p class="primary_text"> ₹7.5L <span class="secondary_text">PA</span><span><br /></span>
                        <span class="secondary_text">CTC</span>
                    </p>
                </div>
                <div class="el4b">
                    <img src="./assets/reshot-icon-calendar-MPH3D7XWKJ.svg" class="svgicon1">
                    <p class="date_text"> -- <span><br /></span>
                        <span class="date_secondary_text">Round Date</span>
                    </p>
                </div>
            </div>
            <div class="el5">
                <p class="offer-type"> Super Dream Offer </p>
            </div>
        </div>
        <div class="card">
           <div class="el1">
            <img src="./assets/microsoft.png" class="company_logo"> 
            <div class="app_status status-applied"> 
                 Applied
            </div>
           </div>
           <div class="el2">
                Microsoft
           </div>
            <div class="el3a">
                 <img src="./assets/reshot-icon-map-marker-KS456ZT2P3.svg" class="svgicon">
                 <p class="loctext">Bangalore, Karnataka</p>
            </div>
            <div class="el3b">
                <img src="./assets/reshot-icon-timer-ESGKH39LNC.svg" class="svgicon">
                <p class="typetext">Full-time, Internship</p>
            </div>
            <div class="el4">
                <div class="el4a">
                    <img src="./assets/reshot-icon-dollar-cash-x-FD7X9S2KLU.svg" class="svgicon1">
                    <p class="primary_text"> ₹27L <span class="secondary_text">PA</span><span><br/></span>
                    <span class="secondary_text">CTC</span>
                    </p>
                </div>
                <div class="el4b">
                    <img src="./assets/reshot-icon-calendar-MPH3D7XWKJ.svg" class="svgicon1">
                    <p class="date_text"> -- <span><br /></span>
                        <span class="date_secondary_text">Round Date</span>
                    </p>
                </div>
            </div>
            <div class="el5">
                <p class="offer-type"> Super Dream Internship </p>
            </div>
        </div>
    </div> 
</body>
</html>