{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} hr_list {% endblock title %}
{% block content %} 
   <div id="tnp-view-cont">
        <div id="tnp-cont1">
            <div id="scroll-bg">
                <div id="scroll-div">
                    <div id="scroll-object">
                        {% for hr in hr_list %}
                            <div class="card-hr">
                                HR Name : {{hr.name}}<br>
                                Company Name : {{hr.company_name}}<br>
                                Email : {{hr.email}}<br>
                                Contact Number : {{hr.contact_number}}<br>
                                Linkedin ID : {{hr.linkedin_id}}<br>
                                College Branch : {{hr.college_branch}}<br>
                                Student ID : {{hr.student_id}}<br>
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}