{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} hr_list {% endblock title %}
{%block head%}
<link href="{%static 'css/tnp_view.css' %}" rel="stylesheet"> 
{%endblock%}  
{% block content %} 
   <div id="tnp-view-cont">
        <div id="tnp-cont1">
            <div id="scroll-bg">
                <div id="scroll-div">
                    <div id="scroll-object">
                        {% for hr in hr_list %}
                            {% comment %} {% if hr.assigned is None %} {% endcomment %}
                            <div class="card-hr">
                                HR Name : {{hr.name}}<br>
                                Gender : {{hr.gender}}<br>
                                Company ID : {{hr.company_id}}<br>
                                Email : {{hr.mail_id}}<br>
                                Contact Number : {{hr.mobile}}<br>
                                Linkedin ID : {{hr.linkedin}}<br>
                                College Branch : {{hr.college_branch}}<br>
                                Date of Contact : {{hr.date_of_contact}}<br>
                                <div id="all-tnp-btn">
                                    {% if hr.assigned is None%}
                                    <a href="{% url 'assign_me' cnt=hr.name %}"><button id="btn-submit-hr-contact"  class="view-btn"> Assign Me </button></a>
                                    {% endif %}
                                </div>
                            </div>
                            {% comment %} {% endif%} {% endcomment %}
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}