{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} TNP_Company_view {% endblock%}
{%block head%}
<link href="{%static 'css/tnp_company_view.css' %}" rel="stylesheet"> 
{%endblock%}
{% block content %}
    <div id="tnp-main">
        <div id="tnp-header">
            <form action="{% url 'delete_all_company_contact' %}" method="post">
                {% csrf_token %}
                <button id="btn-dlt-all" class="view-btn" type="submit" > Delete All</button>
            </form>
            <button id="btn-add"  class="view-btn" > ADD </button>
        </div>
    <div id="tnp-view-cont">
        <div id="tnp-cont1">
            <div id="scroll-bg">
                <div id="scroll-div">
                    <div id="scroll-object">
                         {% for cmp in company_list %}
                            <div class="card-hr">
                                Company Name : {{cmp.company_name}}<br>
                                Email : {{cmp.company_email}}<br>
                                Contact Number : {{cmp.company_contact}}<br>
                                CTC : {{cmp.ctc}}<br>
                                College Visted : {{cmp.college_visted}}<br>
                                Type : {{cmp.type}}<br>
                                Offering : {{cmp.is_company}}<br>
                                Location : {{cmp.location}}<br>
                                College Branch : {{cmp.college_branch}}<br>
                                Student ID : {{cmp.user}}<br>
                                <div id="all-tnp-btn">
                                    <a href="{% url 'hr_list' %}"><button id="btn-submit-hr-contact"  class="view-btn">Submit to HR contact</button></a>
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}
    <script>
        btn = document.getElementById('btn-add')
        {% comment %} function redirectToPage() {
            document.location.href="{% url 'common_form'%}"  
        } {% endcomment %}
        btn.addEventListener('click',()=>{
            document.location.href="{% url 'common_company_form' %}"
        });
    </script>
{% endblock content %}